@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  background: rgb(0, 0, 0);
  font-family: "Ubuntu", sans-serif;
  transition: all 0.5s ease;
  z-index: 999;
}

.navbar.sticky {
  padding: 5px 0;
  background: red;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.navbar .logo a span {
  color: red;
}

.navbar.sticky .logo a span {
  color: whitesmoke;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 30px;
  transition: color 0.5s ease;
}

.navbar .menu li a:hover {
  color: red;
}

.navbar.sticky .menu li a:hover {
  color: whitesmoke;
}

/* Menu button styling */
.menu-button {
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
/* Home section styling */
.home {
  display: flex;
  background: url("slike/background.jpg") no-repeat center;
  height: 100vh;
  color: white;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 30px;
}

.home .home-content .text-2 {
  font-size: 80px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: red;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: red;
  color: whitesmoke;
  font-weight: 600;
  font-size: 15px;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid red;
  transition: all 0.5s ease;
}

.home .home-content a:hover {
  color: red;
  background: none;
}

.home .profile-picture {
  margin: auto;
}

.home .profile-picture img {
  width: 400px;
  border-radius: 53%;
}

/* About section styles */
section {
  padding: 40px;
}

.about,
.skills,
.contact {
  font-family: "Poppins", "sans-serif";
}

.about .title,
.skills .title,
.contact .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  font-weight: 500;
  font-family: "Ubuntu", "sans-serif";
}

.about .title::before,
.skills .title::before,
.contact .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 5px;
  background: black;
  transform: translateX(-50%);
}

.about .title::after {
  content: "Who am I ?";
  position: absolute;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  background: white;
  font-size: 20px;
  color: red;
  transform: translateX(-50%);
}

.about .about-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .column-left {
  width: 45%;
}

.about .about-content .column-left img {
  height: 500px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .column-right {
  width: 55%;
}

.about .about-content .column-right {
  width: 55%;
}

.about .about-content .column-right .about-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .column-right p {
  text-align: justify;
}

.about .about-content .column-right .CV {
  display: inline-block;
  background: red;
  color: whitesmoke;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 20px;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid red;
  transition: all 0.5s ease;
}

.about .about-content .column-right .CV:hover {
  background: none;
  color: red;
}

/* Skills section styles */

.skills .title::after {
  content: "What I do";
  position: absolute;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  background: white;
  font-size: 20px;
  color: red;
  transform: translateX(-50%);
}

.skills .skills-content .column-left {
  width: calc(50% - 50px);
  text-align: justify;
}

.skills .skills-content .column-left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .column-right {
  width: 45%;
  margin-top: 15px;
}

.skills .skills-content .column-right .bars {
  margin-bottom: 13px;
}

.skills .skills-content .column-right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills .skills-content .column-right span {
  font-weight: 500;
  font-size: 16px;
}

.skills .skills-content .column-right .line {
  height: 5px;
  width: 100%;
  background: lightgray;
  position: relative;
}

.skills .skills-content .column-right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: red;
}

.skills .skills-content .column-right .communication::before {
  width: 90%;
}
.skills .skills-content .column-right .db::before {
  width: 75%;
}
.skills .skills-content .column-right .html::before {
  width: 90%;
}
.skills .skills-content .column-right .css::before {
  width: 80%;
}
.skills .skills-content .column-right .JS::before {
  width: 65%;
}
.skills .skills-content .column-right .RN::before {
  width: 50%;
}
.skills .skills-content .column-right .php::before {
  width: 30%;
}

/* Contact me styles */

.contact .title::after {
  content: "Get in touch";
  position: absolute;
  bottom: -12px;
  left: 50%;
  padding: 5px;
  background: white;
  font-size: 20px;
  color: red;
  transform: translateX(-50%);
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font: size 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 20px;
}
.contact .contact-content .row i {
  font-size: 20px;
  color: red;
}
.contact .contact-content .info .head {
  font-weight: 600;
}
.contact .contact-content .info .sub-title {
  color: #333;
}

/* contact form right side */

/* .contact .right form .fields {
  width: 50%;
} */

.contact .right form .field /*,
 .contact .right form .fields .field */ {
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
}

.contact .right form .textarea {
  height: 90px;
  width: 100%;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.contact .right form .textarea textarea {
  resize: none;
  padding-top: 5px;
}

.contact .right form .button {
  height: 50px;
  width: 100%;
}

.contact .right form .button button {
  height: 100%;
  width: 170px;
  border: 2px solid red;
  background: red;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  transition: all 0.5s ease;
  font-family: "Poppins", sans-serif;
}

.contact .right form .button button:hover {
  color: red;
  background: none;
  cursor: pointer;
}

/* responsive button query */
@media (max-width: 950px) {
  .max-width {
    padding: 0 50px;
  }
  .menu-button {
    display: block;
    z-index: 999;
  }
  .menu-button i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 80px;
    transition: all 0.5s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 30px;
  }
  .home .home-content .text-2 {
    font-size: 75px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .profile-picture img {
    display: none;
  }

  .max-width {
    max-width: 950px;
  }

  .about .about-content .column-left {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .column-right {
    width: 100%;
    flex: 100%;
    justify-content: center;
    margin: 0 auto 30px;
  }
  .skills .skills-content .column-left,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 30px;
  }
  .skills .skills-content .column-right {
    width: 100%;
  }
  .skills {
    padding-top: 0px;
  }
}
@media (max-width: 1900px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 1300px) {
  .home .profile-picture img {
    width: 300px;
  }
  .about .about-content .column-left img {
    height: 400px;
    width: 300px;
  }
}
@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 20px;
  }
}
